<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>COREDateDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B30C0C5A1CF7075000D6C57C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3F0F6F11B58AC6D00EC592F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3F0F70A1B58AC6D00EC592F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
